
table.pvtTable {
    font-family:arial;
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
	min-width:100%;
}
table.pvtTable tr th, table.pvtTable tr th {
    background-color: #e6EEEE;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 5px;
	max-height:20px;
}

table.pvtTable .pvtColLabel {
text-align: center; 
max-height:20px;
}
table.pvtTable .pvtRowLabel{
max-height:20px;
line-height:20px;
}
table.pvtTable .pvtTotalLabel {text-align: right; display:none; max-height:20px;}

table.pvtTable tr td {
    color: #3D3D3D;
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
    text-align: right;
	max-height:20px;
}

.pvtTotal, .pvtGrandTotal { font-weight: bold; display:none; }

.pvtVals { text-align: center; max-height:20px;}
.pvtAggregator { margin-bottom: 1px ;}

.pvtAxisContainer, .pvtVals {
    border: 1px solid gray;
    background: #EEE;
    padding: 1px;
    min-width: 20px;
    min-height: 20px;
	max-height:20px;
}
.pvtAxisContainer li {
    padding: 1px 1px;
    list-style-type: none;
    cursor:move;
}
.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 1px 1px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #aaa;
}

.pvtAxisContainer li span.pvtAttr {
    background: #F3F3F3;
    border: 1px solid #DEDEDE;
    padding: 2px 5px;
    white-space:nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pvtTriangle {
    cursor:pointer;
    color: grey;
}

.pvtHorizList li { display: inline; max-height:20px; }
.pvtVertList { vertical-align: top; max-height:20px; }

.pvtFilteredAttribute { font-style: italic ;max-height:20px;}

.pvtFilterBox{
    z-index: 100;
    width: 280px;
    border: 1px solid gray;
    background-color: #fff;
    position: absolute;
    padding: 1px;
    text-align: center;
	max-height:20px;
}

.pvtFilterBox h4{ margin:0; }

.pvtCheckContainer{
    text-align: left;
    overflow: scroll;
    width: 100%;
   max-height:20px;
}
.pvtCheckContainer p{ margin: 1px;  max-height:20px;}
