	/* CSS Document */
	body{

		
	margin:0;
	padding:0;
	font-size:80%;
	}
	.header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:70px;
	 
	background:#FFFFFF;
	}
	.labelh{
	
	
	font-weight:bold;
	text-align:center;
 
	}
	.loginbg{
	
	position:absolute;
	top:0;
	left:0;
	background-image:url(/images/strip.png);
	height:200px;
	background-repeat:repeat-x;
	width:100%;
	
	height:200px;
	}
	.content{
	position:absolute;
	top:0px;
	left:0px;
	bottom:32px;
	width:100%;
	height:100%;
	}
	
	.content1{
	position:absolute;
	top:0px;
	left:0px;
	bottom:32px;
	width:100%;
	height:100%;
	 
	
	}
	
	.viewport,.viewport1{
	position:absolute;
	top:110px;
	left:0px;
	bottom:32px;
	right:0;
	overflow:auto;
	background:#FFFFFF;
	width:100%;
	padding-top:20px;
	 
	
	}
	.viewport2{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0;
	overflow:auto;
	background:#FFFFFF;
	width:100%;
	}
	.viewport_menu{
	position:absolute;
	top:76px;
	left:0px;
	 
	right:0;
 
	 
	background:#FFFFFF;
	height:30px;
	width:100%;
	margin:0;
	padding:0;
	
	}
	.fotter{
		font-family:Arial, Helvetica, sans-serif; font-size:13px;
	position:absolute;
	bottom:0;
	color:#fff;
	height:30px;
	width:100%;
	left:0;
	background-color:#69C; 
	margin:0;
	padding:0;
	text-align:center;
	padding-top:7px;
	
	
	}
 
	
	.dialogTitle {
	
		background-color:#FFFFFF; 
		  height:25px;
 	  text-align:center;
	  -webkit-border-radius: 15px 15px 0px 0px;
		-moz-border-radius:  15px 15px 0px 0px;
		border-radius:  10px 10px 0px 0px; 
		font-weight:bold;
		color:#f2f3f4;
		padding-top:10px;
		font-size:20px;
		font-family:"Times New Roman", Times, serif;
		
		 
		text-align:center;
	}
	 
	.dialogBottom {
	
		background-color:#990000;
	  
	  height:45px;
	 
	  text-align:center;
	  -webkit-border-radius: 0px 0px 10px 10px;
		-moz-border-radius:  0px 0px 10px 10px;
		border-radius:  0px 0px 10px 10px; 
		font-weight:bold;
		color:#FFFFFF;
	}
	
	input[type='text'],input[type='password'],input[type='text1']{
	 
	height: 35px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	border-radius: 5px;
	margin-left:10px;
	 margin-right:10px;
	 margin-top:1px;
	 margin-bottom:1px;
	}
	input[type='search']{
	 
	height: 30px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	border-radius: 5px;
	margin:10px;
	 
	}
	input[type='text1']{
	float:left;
	}
	.datepicker{
	
	width:65px;
	padding-right:32px;
background:url(/images/calendar.png) no-repeat right center;
	}
	.small{
	width:150px;
	}
	.medium{
	width:200px;
	}
	.large{
	width:250px;
	}
	.login_dialog{
	width:280px;
 
	}
	.large500{
	
	width:500px;
	}
		.large400{
	
	width:400px;
	}
	.large600{
	
	width:600px;
	}
	.large700{
	
	width:700px;
	}
	.xlarge{
	width:800px; 
	}
	.margin_small{
	
	margin:10px; 
	}
	.align_right{
	float:right
	}
	.tiny{
	
	width:50px;
	}
	.vtiny{
	
	width:30px;
	max-width:30px;
	min-height:10px;
	min-width:30px;
	margin:1px;
	float:left;
	text-align:center;
	font-size: 14px;
	background-color:#d5d8dc ;
	border: 1px solid #ccc;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
 
	border-radius: 5px;
	height:25px;
	width:auto;
	}
	.tiny1{
	
	width:100px;
	}
	
	.align_center{
	text-align:center;
	}
	
		.button_login,input[type='button'],input[type='submit']{
		text-align:center;
	font-size: 14px;
	background-color:#d5d8dc ;
	border: 1px solid #ccc;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
 
	border-radius: 5px;
	height:35px;
	width:auto;
	min-width:80px;
	margin:1px;
	float:right;
	
  
	}
	.button_login:hover,input[type='button']:hover,input[type='submit']:hover{
	background: linear-gradient(#d5d8dc 5%, #e5e7e9  100%);
	}
	 
.button1{
margin:1px;
}
 
.align-right {
  float: right;
}
 
 .inv {
    display: none;
}
.title{
background-color:#FFFFFF;
color:#06C;
font-size:18px;
font-weight:bold;
text-align:left;
text-transform:capitalize;
width:280px;
height:29px;
border-bottom:5px thick #999999;
margin:0;
padding:0; padding-top:5px;
margin-bottom:20px;
float:right;
position:absolute;
top:77px;
right:3px;
z-index:1000;
text-align:center;

 -webkit-border-radius: 0px 0px 0px 10px;
		-moz-border-radius:  0px 20px 0px 20px;
		border-radius:  0px 20px 0px 20px; 
}
.title span{

 

}
 

.search{

padding-right:32px;
background:url(/images/search.png) no-repeat right center;
background-color:#FFFFFF;
}

<!-- Css for tabls-->
#tabs {

   width: 100%;
    height:30px; 
   border-bottom: solid 1px #CCC;
   padding-right: 2px;
   margin-top: 30px;

   

}
a {cursor:pointer;}

#tabs li {
    float:left; 
    list-style:none; 
    border-top:1px solid #ccc; 
    border-left:1px solid #ccc; 
    border-right:1px solid #ccc; 
    margin-right:5px; 
    border-top-left-radius:3px;  
    border-top-right-radius:3px;
      outline:none; 
}

#tabs li a {

    font-family:Arial, Helvetica, sans-serif; 
    font-size: small;
    font-weight: bold; 
    color: #5685bc;;
   padding-top: 5px;
   padding-left: 7px;
   padding-right: 7px;
    padding-bottom: 8px; 
    display:block; 
    background: #FFF;
    border-top-left-radius:3px; 
    border-top-right-radius:3px; 
    text-decoration:none;
    outline:none;
  
}

#tabs li a.inactive{
    padding-top:5px;
    padding-bottom:8px;
  padding-left: 8px;
  padding-right: 8px;
    color:#666666;
    background: #EEE;
   outline:none;
   border-bottom: solid 1px #CCC;

}

#tabs li a:hover, #tabs li a.inactive:hover {


    color: #5685bc;
      outline:none;
}

.container {

    clear:both;           
    width:100%; 
    
       min-height:300px;
  border-top: solid 1px #CCC;
    text-align:left;
    
 

}

.container h2 { margin-left: 15px;  margin-right: 15px;  margin-bottom: 10px; color: #5685bc; }

.container p { margin-left: 15px; margin-right: 15px;  margin-top: 10px; margin-bottom: 10px; line-height: 1.3; font-size: small; }

.container ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }

.container li { padding-bottom: 5px; margin-left: 5px;} 
	 
	#fileupload tr td{
	
	width:250px;
	border:1px solid #666666;
	text-align:center;
	}
	#fileupload tr:last-child td{
	background-color:#f2f3f4;
	margin:10px;
	height:140px;
	}
	
	.selectcls{
	 
	border:1px solid #ddd; 
	margin-left:10px;
	 
	 height:25px;
	  width:100px;
	  min-width:200px;
	 
	}
	
	.margin-left{
	margin-left:150px;
	}
	.margin-top{
	margin-top: 50px;
	}
	
	
	.label{

	 
	 
	}
	.float-right{
	float:right;
	}
	.grid-border{
	
	border:1px solid #999999;
	}
	
	.hide{
	display:none;
	}
	.headerSchemeFiling thead th{ border:0px;
	
	background-color:#999999;
	color:#000000;
	}
	
	.pro
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px; text-align:center; background-color:#099; color:#FFF; font-weight:bold;}

.pro_0
{
font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:left; background-color:#efefef; color:#000; font-weight:bold;
max-width:120px;
min-width:120px;
}
.pro_1
{
font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:center;  color:#000; font-weight:bold; min-width:35px;

max-width:35px;
 background-color:#996600;
 font-weight:bold;
 text-align:center;
 
 }
.excel{
width:100%;
}
.excel90{
width:90%;
}
.info{

background:#996600;
color:#000000;}


/* proposal */
.propals_t
{background-color:#FF0; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:25px; padding:10px; text-align:center;}
.propals_c
{background-color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:25px; padding:5px; text-align:center;}
/* end proposal */

/* dashboard */
.dash
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px; text-align:center; background-color:#333; color:#FFF; font-weight:bold; border:2px solid #ccc; padding-top:10px; padding-bottom:10px; }
.dash_a
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:center; background-color:#FF9; color:#000; font-weight:bold; }
.dash_c
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:center; background-color:#F0F0F0; color:#000; font-weight:bold; }
/* end dashboard */

/* start proposal */
.pro
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px; text-align:center; background-color:#099; color:#FFF; font-weight:bold;}

.pro_0
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:left; background-color:#efefef; color:#000; font-weight:normal;}
.pro_1
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:center; background-color:#efefef; color:#000; font-weight:normal;}
.pro_1 a, .pro_1 a span{

font-weight:bold;
color:#0066FF;
}
/* end proposal */

.form{

border:1px solid #666666;
//background-color:  #eaecee ;
margin-left:25px;
margin-top:25px; 
padding:5px;
-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius:  10px 10px 10px 10px;
		border-radius:  10px 10px 10px 10px; 
		line-height:35px;
		
}
.form tr td{
	color:#000;
	}
.form tr:nth-child(odd) td{
background-color: #f2f3f4  ;
border-bottom:1px  solid #666666;
line-height:35px;
padding-left:10px; 
}
.form tr:nth-child(even) td{
//background-color:#FFFFFF;
border-bottom:1px  solid #666666;
line-height:35px;
padding-left:10px; 
}


.margin{
margin:20px;
}
//autocomplete

.ui-autocomplete {
      padding: 0;
      list-style: none;
      background-color:#FFFFFF;
      width: 218px;
      border: 1px solid #B0BECA;
      max-height: 350px;
      overflow-x: hidden;
    }
    .ui-autocomplete .ui-menu-item {
      border-top: 1px solid #B0BECA;
      display: block;
      padding: 4px 6px;
      color: #353D44;
      cursor: pointer;
    }
    .ui-autocomplete .ui-menu-item:first-child {
      border-top: none;
    }
    .ui-autocomplete .ui-menu-item.ui-state-focus {
      background-color: #D5E5F4;
      color: #161A1C;
    }
	  tr.gray td{
 
	color:#000000;
	font-weight:bold;
	
	}
	 .ui-dialog { z-index: 10000000 !important ;}
	 
	 	select.ui-datepicker-month,select.ui-datepicker-year {
	
	width:50px;
	max-width:50px;
	}
	
	.reportmargin{
	
	margin:25px;
	}
	
	
	.ui-datepicker-week-col{
	font-weight:lighter;
	
	}
 <!-- Table -->
 
 table.grid thead{
background-color:#CFCFCF;
color:#666666;
}
table.grid tbody tr:nth-child(even){
background-color:#FFFFFF ; text-align:center;
}
table.grid tbody tr:nth-child(odd){
background-color: #f2f3f4  ; text-align:center;
}
table.grid tfoot tr{
background-color:#999999;
font-weight:bold; 
}
table.grid{
 
border:1px solid #999999;
}
table{
border-spacing: 0px;
    border-collapse: separate; 
 
	}
	td{
	padding:0;
	height:30px;
	
	}
	th{
	height:35px;
	border-right:1px solid #E8E8E8; background-color:#333; color:#FFF
	
	}
	table.grid tbody tr:hover ,.form  table.grid tbody tr:hover{
	
	background-color:#e5e7e9;
	cursor:hand;
	cursor:pointer;
	//line-height:35px;
	 
	}
	table.grid tbody tr.active td:nth-child(1),.form table.grid tbody tr.active td:nth-child(1)
	{
	
	background-color:#FF0000; 
 
	}
	table.grid tbody td,table.grid thead th,.form table.grid tbody td,.form table.grid thead th{
	border-right:1px solid #000000;
	border-bottom:1px solid #000000; text-align:center;
	}
	table.grid tbody tr td:last-child,table.grid thead tr th:last-child, .form table.grid tbody tr td:last-child,.form table.grid thead tr th:last-child{
	border-right:0px;
	 
	}
	 table.grid tbody tr:last-child td,.form table.grid tbody tr:last-child td{
	border-bottom:0px;
	
	 
	}
	.infohighlight{
	
	background-color:#333333;
	color:#FFFFFF;
	}
	.userinfo{
	
	}
	
 .form_grid{

border:1px solid #666666;
background-color:  #eaecee ;
margin-left:25px;
margin-top:25px;
padding:5px;
-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius:  10px 10px 10px 10px;
		border-radius:  10px 10px 10px 10px;
		line-height:25px;
		 

		
}
	.form_grid thead{
background-color:#CFCFCF;
color:#666666;
}
.form_grid tbody tr:nth-child(even){
background-color:#FFFFFF ;
max-height:25px;
 height: 2.2em;
    line-height: 1.1;

}
.form_grid  tbody tr:nth-child(odd){
background-color: #f2f3f4  ;
max-height:25px;
 height: 2.2em;
    line-height: 1.1;
}
.form_grid  tfoot tr{
background-color:#999999;
font-weight:bold;
}
  .form_grid tbody tr:hover  {
	
	background-color:#e5e7e9;
	cursor:hand;
	cursor:pointer;
	padding:0;
	margin:0;
	 
	}
	.form_grid tbody tr.active td:nth-child(1) 
	{
	
	background-color:#FF0000;
 
	}
	.form_grid tbody td,table.grid thead th {
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	 height: 2.2em;
    line-height: 1.1;
	}
	.form_grid tbody tr td:last-child,.form_grid thead tr th:last-child {
	border-right:0px;
	 
	}
	 .form_grid tbody tr:last-child td {
	border-bottom:0px;
	 
	}
	tr[role="row"] td{
	max-height:25px;
	 height: 2.2em;
    line-height: 1.1;
	}
	.form_grid tr{
	max-height:25px;
	margin:0;
	padding:0;
	}
	.form_grid td{
	min-width:18px;
	max-width:150px;
	max-height:25px;
	margin:0;
	padding:0;

	
	}
 #status_board{
width:1370px;
 
 overflow-x: auto;
 }
	#status_board ul{
	list-style:none outside none;
	margin:0;
	padding:0;
	vertical-align:top;
	float:left;
		clear:right;
		width:152px;
	 
	}
	#status_board ul h1{
	padding-top:10px;
	height:25px;
	width:150px;
	font-size:12px;
	text-align:center;
	background-color:#099;
	color:#FFFFFF;
	vertical-align:middle;
	min-width:150px;
	margin:0;
	padding:0;
	}
	#status_board ul li{
	width:150px;
	min-width:150px;
	 height: 2.2em;
    line-height: 1.1;
    overflow: hidden;
	margin:0;
	padding:0;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	font-size:12px;
	position:relative;
 
 clear:left;
	
	}
	#status_board ul li:nth-child(even) div,#status_board ul li:nth-child(even),#status_board ul li:nth-child(even) div a{
	background-color:#f2f3f4;
	 
	}
	
	#status_board ul li:nth-child(odd) div,#status_board ul li:nth-child(odd),#status_board ul li:nth-child(odd) div a{
	background-color:#FFFFFF;
	
	}
 
	#status_board ul li a {
	border-left:1px solid #000000;
	max-width:10px;
	min-width:10px;
	 
	position: absolute;
	height:100%;
	right:0;
	top:0;
	text-align:center;
 
 
	}
	#status_board ul li a span{
	margin-top:5px;
	width:100%;
	height:100%;
	vertical-align:"middle";
	}
		#status_board ul li div{
		 
		 
			 height: 2.2em;
		    line-height: 1.1em;
		     overflow: hidden;
		        position: absolute;
			 
			left:0;
			right:10px;
		}
	 
	 
	.expand{
	
	width:auto;
	}  
	 
	span.close{
	width:16px;
	height:16px;
	display:table-cell;
	background-image:url(../images/reject.png);
 
	} 
	.button{
	
	}
	.pivot table tr:last{
	display:none;
	}
	.pivot table tr th,.pivot table tr td{
	
	max-height:20px;
	}
	.fit{
	width:auto;
	clear:both;
	float:right;
	}
	
	div.login{
	background-color:#FFFFFF; 
	 text-align:center;
	  -webkit-border-radius: 15px 15px 15px 15px;
		-moz-border-radius:  15px 15px 15px 15px;
		border-radius:  15px 15px 15px 15px; 
		font-weight:bold;
		color:#f2f3f4;
	 
		font-size:20px;
		font-family:"Times New Roman", Times, serif;
		 
		 width:400px;
		 text-align:"center";
		 height:280px;
		
		 
		text-align:center;
	}
	.readonly{
	disabled:"disabled";
	}
	.right{
	text-align:"right";
	}
	.labelhr{
		color:#000;
	text-align:right;
	font-weight:bold; color:
	
	}