	/* CSS Document */
	body{

		
	margin:0;
	padding:0;
	font-size:80%;
	}
	.header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:70px;
	 
	background:#FFFFFF;
	}
	.labelh{
	
	 
	
	font-weight:bold;
	text-align:center;
 
	}
	.loginbg{
	
	position:absolute;
	top:0;
	left:0;
	background-image:url(/images/strip.png);
	height:200px;
	background-repeat:repeat-x;
	width:100%;
	
	height:200px;
	}
	.content{
	position:absolute;
	top:0px;
	left:0px;
	bottom:32px;
	width:100%;
	height:100%;
	 
	
	}
	.content1{
	position:absolute;
	top:0px;
	left:0px;
	bottom:32px;
	width:100%;
	height:100%;
	 
	
	}
	
	.viewport,.viewport1{
	position:absolute;
	top:110px;
	left:0px;
	bottom:32px;
	right:0;
	overflow:auto;
	background:#FFFFFF;
	width:100%;
	 
	
	}
	
	.viewport_menu{
	position:absolute;
	top:76px;
	left:0px;
	 
	right:0;
 
	 
	background:#FFFFFF;
	height:30px;
	width:100%;
	margin:0;
	padding:0;
	
	}
	.fotter{
	
	position:absolute;
	bottom:0;
	
	height:30px;
	width:100%;
	left:0;
	background-color:#69C; 
	margin:0;
	padding:0;
	text-align:center;
	padding-top:5px;
	
	
	}
 
	
	.dialogTitle {
	
		background-color:#FFFFFF; 
		  height:25px;
 	  text-align:center;
	  -webkit-border-radius: 15px 15px 0px 0px;
		-moz-border-radius:  15px 15px 0px 0px;
		border-radius:  10px 10px 0px 0px; 
		font-weight:bold;
		color:#CCCCCC;
		padding-top:10px;
		font-size:20px;
		font-family:"Times New Roman", Times, serif;
		
		 
		text-align:center;
	}
	 
	.dialogBottom {
	
		background-color:#990000;
	  
	  height:45px;
	 
	  text-align:center;
	  -webkit-border-radius: 0px 0px 10px 10px;
		-moz-border-radius:  0px 0px 10px 10px;
		border-radius:  0px 0px 10px 10px; 
		font-weight:bold;
		color:#FFFFFF;
	}
	
	input[type='text'],input[type='password'],input[type='text1']{
	 
	height: 20px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	border-radius: 5px;
	margin:10px;
	 
	}
	input[type='text1']{
	float:left;
	}
	.datepicker{
	
	width:65px;
	padding-right:32px;
background:url(/images/calendar.png) no-repeat right center;
	}
	.small{
	width:150px;
	}
	.medium{
	width:200px;
	}
	.large{
	width:250px;
	}
	.login_dialog{
	width:280px;
 
	}
	.large500{
	
	width:500px;
	}
		.large400{
	
	width:400px;
	}
	.large600{
	
	width:600px;
	}
	.large700{
	
	width:700px;
	}
	.xlarge{
	width:800px;
	}
	.margin_small{
	
	margin:10px;
	}
	.align_right{
	float:right
	}
	.tiny{
	
	width:50px;
	}
	.vtiny{
	
	width:30px;
	max-width:30px;
	min-height:10px;
	min-width:30px;
	margin:1px;
	float:left;
	text-align:center;
	font-size: 14px;
	background-color:#d5d8dc ;
	border: 1px solid #ccc;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
 
	border-radius: 5px;
	height:25px;
	width:auto;
	}
	.tiny1{
	
	width:100px;
	}
	.align_center{
	text-align:center;
	}
	
		.button_login,input[type='button'],input[type='submit']{
		text-align:center;
	font-size: 14px;
	background-color:#d5d8dc ;
	border: 1px solid #ccc;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
 
	border-radius: 5px;
	height:25px;
	width:auto;
	min-width:80px;
	margin:10px;
	float:right;
  
	}
	.button_login:hover,input[type='button']:hover,input[type='submit']:hover{
	background: linear-gradient(#d5d8dc 5%, #e5e7e9  100%);
	}
	 

 
.align-right {
  float: right;
}
 
 .inv {
    display: none;
}
.title{
background-color:#FFFFFF;
color:#000000;

font-weight:bold;
text-align:left;
text-transform:capitalize;
width:280px;
height:25px;
border-bottom:5px thick #999999;
margin:0;
padding:0;
margin-bottom:20px;
float:right;
position:absolute;
top:80px;
right:0px;
z-index:1000;
text-align:center;

 -webkit-border-radius: 20px 0px 0px 10px;
		-moz-border-radius:  20px 0px 0px 20px;
		border-radius:  20px 0px 0px 20px; 
}
.title span{

 

}
 

.search{

padding-right:32px;
background:url(/images/search.png) no-repeat right center;
background-color:#FFFFFF;
}

<!-- Css for tabls-->
#tabs {

   width: 100%;
    height:30px; 
   border-bottom: solid 1px #CCC;
   padding-right: 2px;
   margin-top: 30px;
   

}
a {cursor:pointer;}

#tabs li {
    float:left; 
    list-style:none; 
    border-top:1px solid #ccc; 
    border-left:1px solid #ccc; 
    border-right:1px solid #ccc; 
    margin-right:5px; 
    border-top-left-radius:3px;  
    border-top-right-radius:3px;
      outline:none;
}

#tabs li a {

    font-family:Arial, Helvetica, sans-serif; 
    font-size: small;
    font-weight: bold; 
    color: #5685bc;;
   padding-top: 5px;
   padding-left: 7px;
   padding-right: 7px;
    padding-bottom: 8px; 
    display:block; 
    background: #FFF;
    border-top-left-radius:3px; 
    border-top-right-radius:3px; 
    text-decoration:none;
    outline:none;
  
}

#tabs li a.inactive{
    padding-top:5px;
    padding-bottom:8px;
  padding-left: 8px;
  padding-right: 8px;
    color:#666666;
    background: #EEE;
   outline:none;
   border-bottom: solid 1px #CCC;

}

#tabs li a:hover, #tabs li a.inactive:hover {


    color: #5685bc;
      outline:none;
}

.container {

    clear:both;           
    width:100%; 
    
       min-height:300px;
  border-top: solid 1px #CCC;
    text-align:left;
 

}

.container h2 { margin-left: 15px;  margin-right: 15px;  margin-bottom: 10px; color: #5685bc; }

.container p { margin-left: 15px; margin-right: 15px;  margin-top: 10px; margin-bottom: 10px; line-height: 1.3; font-size: small; }

.container ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }

.container li { padding-bottom: 5px; margin-left: 5px;} 
	 
	#fileupload tr td{
	
	width:250px;
	border:1px solid #666666;
	text-align:center;
	}
	#fileupload tr:last-child td{
	background-color:#CCCCCC;
	margin:10px;
	height:140px;
	}
	
	.selectcls{
	 
	border:1px solid #ddd; 
	margin-left:10px;
	 
	 height:25px;
	  width:100px;
	  min-width:200px;
	 
	}
	
	.margin-left{
	margin-left:150px;
	}
	.margin-top{
	margin-top: 50px;
	}
	.label{
	 
	color:#000000;
	padding-left:20px;
	 
	}
	.float-right{
	float:right;
	}
	.grid-border{
	
	border:1px solid #999999;
	}
	
	.hide{
	display:none;
	}
	.headerSchemeFiling thead th{ border:0px;
	
	background-color:#999999;
	color:#000000;
	}
	
	.pro
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px; text-align:center; background-color:#099; color:#FFF; font-weight:bold;}

.pro_0
{
font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:left; background-color:#efefef; color:#000; font-weight:bold;
max-width:120px;
min-width:120px;
}
.pro_1
{
font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:center;  color:#000; font-weight:bold; min-width:35px;

max-width:35px;
 background-color:#996600;
 font-weight:bold;
 text-align:center;
 
 }
.excel{
width:100%;
}
.excel90{
width:90%;
}
.info{

background:#996600;
color:#000000;}


/* proposal */
.propals_t
{background-color:#FF0; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:25px; padding:10px; text-align:center;}
.propals_c
{background-color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:25px; padding:5px; text-align:center;}
/* end proposal */

/* dashboard */
.dash
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px; text-align:center; background-color:#4c97c3; color:#FFF; font-weight:bold;}
.dash_a
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:center; background-color:#FF9; color:#000; font-weight:bold;}
.dash_c
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:center; background-color:#F0F0F0; color:#000; font-weight:bold;}
/* end dashboard */

/* start proposal */
.pro
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px; text-align:center; background-color:#099; color:#FFF; font-weight:bold;}

.pro_0
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:left; background-color:#efefef; color:#000; font-weight:normal;}
.pro_1
{font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px; text-align:center; background-color:#efefef; color:#000; font-weight:normal;}
.pro_1 a, .pro_1 a span{

font-weight:bold;
color:#0066FF;
}
/* end proposal */

.form{

border:1px solid #666666;
background-color:  #eaecee ;
margin-left:25px;
margin-top:25px;
padding:5px;
-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius:  10px 10px 10px 10px;
		border-radius:  10px 10px 10px 10px; 
		
}
.form tr:nth-child(odd) td{
background-color: #f2f3f4 ;
border-bottom:1px  solid #666666;
}
.form tr:nth-child(even) td{
background-color:#FFFFFF;
border-bottom:1px  solid #666666;
}


.margin{
margin:20px;
}
//autocomplete

.ui-autocomplete {
      padding: 0;
      list-style: none;
      background-color:#FFFFFF;
      width: 218px;
      border: 1px solid #B0BECA;
      max-height: 350px;
      overflow-x: hidden;
    }
    .ui-autocomplete .ui-menu-item {
      border-top: 1px solid #B0BECA;
      display: block;
      padding: 4px 6px;
      color: #353D44;
      cursor: pointer;
    }
    .ui-autocomplete .ui-menu-item:first-child {
      border-top: none;
    }
    .ui-autocomplete .ui-menu-item.ui-state-focus {
      background-color: #D5E5F4;
      color: #161A1C;
    }
	  tr.gray td{
 
	color:#000000;
	font-weight:bold;
	
	}
	 .ui-dialog { z-index: 10000000 !important ;}
	 
	 	select.ui-datepicker-month,select.ui-datepicker-year {
	
	width:50px;
	max-width:50px;
	}
	
	.reportmargin{
	
	margin:25px;
	}
	
	
	.ui-datepicker-week-col{
	font-weight:lighter;
	
	}
 <!-- Table -->
 
 table.grid thead{
background-color:#CFCFCF;
color:#666666;
}
table.grid tbody tr:nth-child(even){
background-color:#FFFFFF ;
}
table.grid tbody tr:nth-child(odd){
background-color: #f2f3f4  ;
}
table.grid tfoot tr{
background-color:#999999;
font-weight:bold;
}
table.grid{
 
border:1px solid #999999;
}
table{
border-spacing: 0px;
    border-collapse: separate;
 
	}
	td{
	padding:0;
	height:30px;
	
	}
	th{
	height:35px;
	border-right:1px solid #E8E8E8;
	
	}
	table.grid tbody tr:hover ,.form  table.grid tbody tr:hover{
	
	background-color:#e5e7e9;
	cursor:hand;
	cursor:pointer;
	 
	}
	table.grid tbody tr.active td:nth-child(1),.form table.grid tbody tr.active td:nth-child(1)
	{
	
	background-color:#FF0000;
 
	}
	table.grid tbody td,table.grid thead th,.form table.grid tbody td,.form table.grid thead th{
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	}
	table.grid tbody tr td:last-child,table.grid thead tr th:last-child, .form table.grid tbody tr td:last-child,.form table.grid thead tr th:last-child{
	border-right:0px;
	 
	}
	 table.grid tbody tr:last-child td,.form table.grid tbody tr:last-child td{
	border-bottom:0px;
	 
	}
	.infohighlight{
	
	background-color:#333333;
	color:#FFFFFF;
	}
	.userinfo{
	
	}