	/* CSS Document */
	body{
	margin:0;
	padding:0;
	}
	.header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:70px;
	border-bottom:5px solid #349BCE;
	background:#FFFFFF;
	}
	.content{
	position:absolute;
	top:75px;
	left:0px;
	bottom:32px;
	width:100%;
	 
	
	}
	
	.viewport{
	position:absolute;
	top:75px;
	left:252px;
	bottom:32px;
	right:0;
	overflow:auto;
	background:#FFFFFF;
	 
	
	}
	
	.viewport_menu{
	position:absolute;
	top:75px;
	left:0px;
	bottom:32px;
	right:0;
	width:250px;
	border:1px solid #000000;
	background:#FFFFFF;
	
	}
	.fotter{
	
	position:absolute;
	bottom:0;
	
	height:30px;
	width:100%;
	left:0;
	background-color:#69C; 
	margin:0;
	padding:0;
	text-align:center;
	padding-top:5px;
	
	
	}
	
	.transbox {
	 
	  background-color: #ffffff;
	  border:1px solid #ccc; 
	  -webkit-border-radius: 5px;
		-moz-border-radius: 5px; 
		border-radius: 20px; 
	}
	
	.dialogTitle {
	
		background-color:#69C; 
	  border:1px solid #ccc; 
	  height:35px;
	  padding-top:15px;
	  margin-top:1px;
	  text-align:center;
	  -webkit-border-radius: 15px 15px 0px 0px;
		-moz-border-radius:  15px 15px 0px 0px;
		border-radius:  10px 10px 0px 0px; 
		font-weight:bold;
		color:#FFFFFF;
	}
	
	.dialogBottom {
	
		background-color:#69C; 
	  border:1px solid #ccc; 
	  height:35px;
	  padding-top:15px;
	  margin-top:1px;
	  text-align:center;
	  -webkit-border-radius: 0px 0px 10px 10px;
		-moz-border-radius:  0px 0px 10px 10px;
		border-radius:  0px 0px 10px 10px; 
		font-weight:bold;
		color:#FFFFFF;
	}
	
	input[type=text],input[type=password]{
	 
	height: 20px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	border-radius: 5px;
	margin:5px;
	 
	}
	
	.small{
	width:150px;
	}
	.medium{
	width:200px;
	}
	.large{
	width:250px;
	}
	.xlarge{
	width:300px;
	}
	.margin_small{
	
	margin:10px;
	}
	.align_right{
	float:right
	}
	.align_center{
	text-align:center;
	}
	
		.button_login{
		text-align:center;
	font-size: 14px;
	background-color:#3986D2;
	border: 1px solid #ccc;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
 
	border-radius: 5px;
	height:25px;
	width:auto;
	min-width:80px;
	margin:10px;
  
	}
	.button_login:hover{
	background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
	}
	 

<!-- css menu-->
 #cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 250px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size:12px;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 10px 15px;
  border-left: 1px solid #1682ba;
  border-right: 1px solid #1682ba;
  border-top: 1px solid #1682ba;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
 
  text-decoration: none;
  color: #000000;
  
  background:#FFFFFF;
 
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color:#990000;
  font-weight:bold;
 
 
}
#cssmenu > ul > li.open > a {
//  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #1682ba;
}
.holder {
  width: 20px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align:center;
  background-color:#CCCCCC;
  padding-top:3px;
  font-weight:bold;
   -webkit-border-radius: 20px;
		-moz-border-radius:  20px;
		border-radius:  20px; 
  
}
.holder::after,
.holder::before {
  
 
}
.holder::after {
  
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  
}
#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #000000;
  background: #FFFFFF;
   
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
   
  color:#990000;
  font-weight:bold;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
 
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}

.sublink{
width:7px;
height:32px;
background-color:#990000;
float:right; 
position:absolute;

right:0;
top:0;
z-index:10;
bottom:0px;
border-bottom:1px solid #00000;
}
 .inv {
    display: none;
}
.title{
background-color:#339933;
color:#ffffff;
font-weight:bold;
text-align:left;
text-transform:capitalize;
width:100%;
height:35px;
border-bottom:3px solid #999999;
margin-bottom:20px;
 
 
}
.title span{

padding-left:20px;
margin-top:10px;

}
table.grid thead{
background-color:#CFCFCF;
color:#666666;
}
table.grid tbody tr:nth-child(even){
background-color:#FFFFFF;
}
table.grid tbody tr:nth-child(odd){
background-color:#E8E8E8;
}
table{
border-spacing: 0px;
    border-collapse: separate;
 
	}
	td{
	padding:0;
	height:30px;
	}
	th{
	height:35px;
	border-right:1px solid #E8E8E8;
	
	}
	